
.showmembers {
    position: relative;
    float: left;
    left: -50%;
    margin:0px 20px;
}
.memberlist {
    position: relative;
    left: 50%;

}
.btn{
    border:solid 1px;
}
.card-body{
    font-size: 11.5px;
}
@media screen and (min-width:1200px) {
    .show .members{
        position:relative;
        width:49%;
        float: left;
        height: 400px;
        margin: 1px;
        border : solid 1px;
    }
    .information .show{
        position: relative;
        width: 33%;
        float: left;
        height: 270px;
        border : solid 1px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 20px;
    }
 }

@media screen and (max-width:1200px) {
     .show .members{
         height: 400px;
         margin: 1px;
         margin-bottom: 20px;
         border : solid 1px;
     }
     .information .show{
         height: 270px;
         border : solid 1px;
         margin-left: 1px;
         margin-right: 1px;
         margin-bottom: 20px;
     }
}

.show-feeds {
    width:90%;
    margin-left: 5%;
    border : solid 1px;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 10px;
}
.show-members {
    width:90%;
    margin-left: 5%;
}
.team-label{
    width:90%;
    margin-left: 5%;
    margin-top: 10px;
}


/*アコーディオンの部分：始まり*/

.cp_menu {
	max-width: 360px;
	margin: 0 auto;
	padding: 0;
    clear: left;
}
.cp_menu a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	line-height: 1;
}
.cp_menu .grade-male-label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #1b2538;
	cursor: pointer;
    border-radius:5px;
}
.cp_menu input[type=checkbox] + .grade-male-label::after {
	position: absolute;
	content: '▼';
	color: #ffffff;
	right: 0.5em;
	top: 25%;

}
.cp_menu input[type=checkbox]:checked + .grade-male-label::after {
	position: absolute;
	transform: rotate(180deg);
	color: #ffffff;
	right: 0.5em;
	top: 25%;

}

.cp_menu .grade-female-label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #c2185b;
	cursor: pointer;
    border-radius:5px;
}
.cp_menu input[type=checkbox] + .grade-female-label::after {
	position: absolute;
	content: '▼';
	color: #ffffff;
	right: 0.5em;
	top: 25%;
}
.cp_menu input[type=checkbox]:checked + .grade-female-label::after {
	position: absolute;
	transform: rotate(180deg);
	color: #ffffff;
	right: 0.5em;
	top: 25%;

}


.cp_menu .accordion{
	display: none;
}
.cp_menu ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	list-style: none;

}
.cp_menu li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
}
/*リストが増えたらULごとに追加してください*/
#cp_menu_bar1:checked ~ #link1 li{
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar2:checked ~ #link2 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar3:checked ~ #link3 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar4:checked ~ #link4 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar5:checked ~ #link5 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar6:checked ~ #link6 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar7:checked ~ #link7 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar8:checked ~ #link8 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar9:checked ~ #link9 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar10:checked ~ #link10 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar11:checked ~ #link11 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar12:checked ~ #link12 li {
	max-height: 46px;
	opacity: 1;
}

.select-members-part{
    margin-bottom: 20px;
}
/*アコーディオンの部分：終わり*/
/*役職選択のところ：始まり*/
.cp_ipselect {
	position: relative;
	width: 70%;
	margin: 2em auto;
	text-align: center;
}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: rgba(0,0,0, 0.5);
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: #da3c41;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 15px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #da3c41;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
/*役職選択のところ：終わり*/
