
.showmembers {
    position: relative;
    float: left;
    left: -50%;
    margin:0px 20px;
}
.memberlist {
    position: relative;
    left: 50%;

}
.btn{
    border:solid 1px;
    background-color: white;
}
.card-body{
    font-size: 11.5px;
}
@media screen and (min-width:1200px) {
    .show .members{
        position:relative;
        width:49%;
        float: left;
        height: 400px;
        margin: 1px;
        border : solid 1px #102027;
        border-radius: 3px;
    }
    .information .show{
        position: relative;
        width: 33%;
        float: left;
        height: 270px;
        border : solid 1px #102027;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 20px;
        border-radius: 3px;
    }

 }
#showmembers{
      position: relative;
      width:90%;
      margin-left: 5%;
 }
#showmembers >.ss-placeholder-child{
      background: transparent;
      border: 1px dashed #e8e8e8;
      border-radius: 4px;
 }
#showmembers > p {
       background: transparent;
       width: 80%;
       position: absolute;
       border: 1px solid #e8e8e8;
       border-radius: 4px;
 }


@media screen and (max-width:1200px) {
     .show .members{
         height: 400px;
         margin: 1px;
         margin-bottom: 20px;
         border : solid 1px #102027;
         border-radius: 3px;
     }
     .information .show{
         height: 270px;
         border : solid 1px #102027;
         margin-left: 1px;
         margin-right: 1px;
         margin-bottom: 20px;
         border-radius: 3px;
     }

}

.show-feeds {
    width:90%;
    margin-left: 5%;
    border : solid 1px;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 10px;
}

.team-label{
    width:90%;
    margin-left: 5%;
    margin-top: 10px;
}
.info-label{
    width:90%;
    margin-left: 5%;
    margin-top: 10px;
}


/*アコーディオンの部分：始まり*/

.cp_menu {
	max-width: 360px;
	margin: 0 auto;
	padding: 0;
    clear: left;
}
.cp_menu a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	line-height: 1;
}
.cp_menu .grade-male-label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #1b2538;
	cursor: pointer;
    border-radius:5px;
}
.cp_menu input[type=checkbox] + .grade-male-label::after {
	position: absolute;
	content: '▼';
	color: #ffffff;
	right: 0.5em;
	top: 25%;

}
.cp_menu input[type=checkbox]:checked + .grade-male-label::after {
	position: absolute;
	transform: rotate(180deg);
	color: #ffffff;
	right: 0.5em;
	top: 25%;

}

.cp_menu .grade-female-label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #c2185b;
	cursor: pointer;
    border-radius:5px;
}
.cp_menu input[type=checkbox] + .grade-female-label::after {
	position: absolute;
	content: '▼';
	color: #ffffff;
	right: 0.5em;
	top: 25%;
}
.cp_menu input[type=checkbox]:checked + .grade-female-label::after {
	position: absolute;
	transform: rotate(180deg);
	color: #ffffff;
	right: 0.5em;
	top: 25%;

}


.cp_menu .accordion{
	display: none;
}
.cp_menu ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	list-style: none;

}
.cp_menu li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
}
/*リストが増えたらULごとに追加してください*/
#cp_menu_bar1:checked ~ #link1 li{
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar2:checked ~ #link2 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar3:checked ~ #link3 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar4:checked ~ #link4 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar5:checked ~ #link5 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar6:checked ~ #link6 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar7:checked ~ #link7 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar8:checked ~ #link8 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar9:checked ~ #link9 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar10:checked ~ #link10 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar11:checked ~ #link11 li {
	max-height: 46px;
	opacity: 1;
}
#cp_menu_bar12:checked ~ #link12 li {
	max-height: 46px;
	opacity: 1;
}

.select-members-part{
    margin-bottom: 20px;
}
/*アコーディオンの部分：終わり*/
.selectstaffscardbody{
    position: relative;
    height: 380px;

}
.select_staffs_form{
    position: absolute;
    left: 15%;
}
optgroup{
    color:#000;
}
.selectboxlabel{
    padding-bottom: 20px;
}

/*
p{
  -ms-filter: blur(6px);
  filter: blur(6px);
}
*/
